<%= form_for @conn, recover_password_path(@conn, :recover_password), [as: :user], fn f -> %>

  <label>
    Email: <%= text_input f, :email %>
  </label>

  <%= submit "Recover Password" %>
<% end %>
