<%= form_for @conn, reset_password_path(@conn, :reset_password), [data: [remote: true], as: :user], fn f -> %>

  <label>
    Password: <%= password_input f, :password %>
  </label>

  <%= hidden_input f, :token, value: @token %>

  <%= hidden_input f, :signature, value: @signature %>

  <%= submit "Reset Password" %>
<% end %>
